/*
* @Author: Ricardo Órfão
* @Date:   2014-09-16 13:39:43
* @Last Modified by:   Ricardo Órfão
* @Last Modified time: 2014-09-29 17:28:56
*/
/*csslint box-sizing: false, important: true*/
.chosen-container-single .chosen-single abbr {top:10px}
.divSctPagination {margin-right: 10px}
.divSwitchInscricoes {display:table;height: 40px}
.fc-event .fc-event-inner {height: 15px;line-height: 2em;overflow: hidden}
.fc-view-month .fc-event, .fc-view-agendaWeek .fc-event {font-size: .85em;height: 15px;line-height: 1.4em;overflow: hidden;padding-left: 3px}
.icon-garbage:before {content: '\e027'; cursor: pointer}
.icon-home:before {content: '\e00a'}
.icon-info:before {content: '\e02b'; cursor: pointer}
.icon-lupa:before {content: '\e603'}
.icon-off:before {content: '\e601'}
.iconwrapper {padding: 4.5px 5px}
.procura {box-sizing: border-box;border: 1px #77a4d7 solid;font-family: 'helvetica-light';font-size: 0.875em;height: 100%;padding: 0;text-indent: 2%;width: 140px}
.inputareaTable > .mnyLabel {background-color: transparent; text-align: left; width: 10%}
.inputareaTable > .mnyLabel span {color:#000; line-height: 23px}
.onoffswitch {-moz-user-select:none;-ms-user-select: none;-webkit-user-select:none;user-select:none;position: relative;width: 67px}
.onoffswitch-checkbox {display: none}
.onoffswitch-label {-moz-border-radius: 6px;-webkit-border-radius: 6px;border: 2px solid #5F94D6;border-radius: 6px;cursor: pointer;display: block;overflow: hidden}
.onoffswitch-inner {-moz-transition: margin 0.3s ease-in 0s;-webkit-transition: margin 0.3s ease-in 0s;-o-transition: margin 0.3s ease-in 0s;transition: margin 0.3s ease-in 0s;margin-left: -100%;width: 200%}
.onoffswitch-inner:before, .onoffswitch-inner:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;color: white;float: left;font-family: 'icomoon';font-weight: bold;height: 25px;line-height: 25px;padding: 0;width: 50%}
.onoffswitch-inner:before {background-color: #5F94D6;color: #2B6DB9;content: "\e031";padding-left: 9px}
.onoffswitch-inner:after {background-color: #5F94D6;color: #2B6DB9;content: "\e030";padding-right: 9px;text-align: right}
.onoffswitch-switch {-moz-border-radius: 6px;-webkit-border-radius: 6px;-moz-transition: all 0.3s ease-in 0s;-webkit-transition: all 0.3s ease-in 0s;-o-transition: all 0.3s ease-in 0s;box-sizing: border-box;transition: all 0.3s ease-in 0s;background: #FFFFFF;border: 2px solid #5F94D6;border-radius: 6px;bottom: 0;margin: 1px;position: absolute;right: 38px;top: 0;width: 27px}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {margin-left: 0}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {right: 0}
.pagination div {background-color: #eaedf1;color: #2b6db9;cursor: pointer;font-weight: bold;height: 30px;line-height: 26px;margin-left: 1px;text-align: center;width: 30px}
.pagination div:hover, .pagination a:focus, .pagination a:active {background-color: #77a4d7}
.pagination input {background-color: #eaedf1;border: none;color: #2b6db9;height: 30px;margin-left: 1px;padding: 0;text-align: center;width: 100px}