/*
* @Author: Ricardo Órfão
* @Date:   2014-09-23 11:38:46
* @Last Modified by:   Ricardo Órfão
* @Last Modified time: 2014-09-24 11:03:00
*/
/*csslint box-sizing: false, important: true*/
h3 {margin-right: 0}
.icon-lupa:before {content: '\e603'}
.iconwrapper {padding: 7px 7.5px}
.inputarea {background-color: #fff; float: right; height: 35px; margin-right: 2px}
.inputarea input[type=text].procura {box-sizing: border-box;border: 1px #77a4d7 solid;font-size: 0.875em;width: 160px}