/*
* @Author: Ricardo Órfão
* @Date:   2014-05-04 13:22:09
* @Last Modified by:   Ricardo Órfão
* @Last Modified time: 2014-10-01 19:02:16
*/

/* Definicoes base */
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon/icomoon.eot');
    src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.woff') format('woff'),
        url('../fonts/icomoon/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica-ultra-light';
    src: url('../fonts/helvetica/HelveticaNeueLTCom-UltLt.ttf') ;
}

@font-face {
    font-family: 'helvetica-light';
    src: url('../fonts/helvetica/HelveticaNeueLTCom-Lt.ttf') ;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

html {margin: 0 auto;padding: 0;height: 100%;overflow-x: hidden}
body {margin: 0 auto;padding: 0;height: 100%;background-color: #1485cc;}

html, html a {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

button {
    border: 0;
    padding: 0;
    cursor: pointer;
    overflow: visible;
}

button::-moz-focus-inner {
    border: none;
    padding: 0;
}

body#normal {
    background-color: #c5d5e7;
}

body#admin {
    background-color: #c5d5e7;
}

input[type=text] {
    cursor: text;
}

input[type=file] {
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    opacity: 0.01;
    -moz-opacity: 0.01;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    overflow: hidden;
    margin: 0;
    padding: 0;
    left: 32px;
    width: 20px;
    height: 20px;
}

.checkbox label, .radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}

.radio input[type=radio],
.checkbox input[type=checkbox] {
    display: none;
}
.checkbox label:before, .radio label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    border: 1px solid;
    border-color: #77a4d7;
}

.radio label:before {
    border-radius: 8px;
}

.checkbox label:before {
    border-radius: 0px;
}

.radio input[type=radio]:checked + label:before {
    font-family:arial;
    content: "\2022";
    color: #2b6db9;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
    background-color:#77a4d7;
}

.checkbox input[type=checkbox]:checked + label:before {
    font-family:arial;
    content: "\2713";
    background-color:#77a4d7;
    font-size: 15px;
    color: #eaedf1;
    text-align: center;
    line-height: 15px;
}

textarea:focus, input:focus{
    outline: 0;
}

.left-column {
    float: left;
    width: 33.33%;
    height: 100%;
    min-height: 35px;
}
.center-column {
    float: left;
    width: 33.33%;
    height: 100%;
    text-align: center;
    min-height: 35px;
}
.right-column {
    float: left;
    width: 33.33%;
    height: 100%;
    min-height: 35px;
}
.left-center-column {
    float: left;
    width: 66.66%;
    height: 100%;
    min-height: 35px;
}
.center-right-column {
    float: left;
    width: 66.66%;
    height: 100%;
    min-height: 35px;
}

.tabela {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    border-spacing: 2px;
}

.tabela td {
    padding: 9px;
    font-size: 13px;
    font-family: "helvetica-light";
    font-weight: normal;
    color: #001c3c;
    vertical-align: middle;
    text-align: center;
}

.tabela tr:nth-child(odd) td {
    background-color: #eaedf1;
}

.tabela tr:nth-child(even) td {
    background-color: #ccd8e8;
}

.tabela tr:first-child td {
    background-color: #2b6db9;
    text-align: center;
    color: #fff;
}

.tabela tr:nth-child(1) {
    background-color: transparent;
}

.tabela .inputAccao {
    padding: 4px;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 82%;
}

.td5 {
    width: 5%;
}

.td10 {
    width: 10%;
}

.td12 {
    width: 12%;
}

.td15 {
    width: 15%;
}

.td20 {
    width: 20%;
}

.td25 {
    width: 25%;
}

.td30 {
    width: 30%;
}

.td35 {
    width: 35%;
}

.td40 {
    width: 40%;
}

.td44 {
    width: 45%;
}

.td45 {
    width: 45%;
}

.td50 {
    width: 50%;
}

.td55 {
    width: 55%;
}

.td60 {
    width: 60%;
}

.td65 {
    width: 65%;
}

.td70 {
    width: 70%;
}

.td75 {
    width: 75%;
}

.td85 {
    width: 85%;
}

.td90 {
    width: 90%;
}

.td95 {
    width: 95%;
}

.tamanho80 {
    float: left;
    width: 80%;
}

.linha {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.linha10 {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.linha h2 {
    font-family: "helvetica-light";
    color: #77a4d7;
    font-weight: normal;
    font-size: 3em;
    -webkit-margin-start: 0;
}

.linha h3 {
    font-family: "helvetica-light";
    color: #2b6db9;
    font-weight: normal;
    font-size: 2em;
    -webkit-margin-start: 0;
    margin: 5px 0 5px 0;
    -webkit-font-smoothing: antialiased;
}

.linha h4 {
    font-family: "helvetica-light";
    color: #5f94d6;
    font-weight: normal;
    font-size: 1.4em;
    -webkit-margin-start: 0;
    margin: 5px 0 5px 0;
}

/* Fim das definições base */

/* Página inicial */
#container {
    min-height: 100%;
    position: relative;
}

#body {
    padding: 10px;
    padding-bottom: 80px;
}

#logo {
    width: 100%;
    text-align: center;
    margin: 60px auto;
}

#frmLogin {
    margin: 0 auto;
    width: 298px;
}

#box {
    float: left;
    width: 289px;
    height: 104px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 5px 1px rgba(0, 0, 0, .4);
    box-shadow: inset 1px 1px 5px 1px rgba(0, 0, 0, .7);
    background: #eee; /* Old browsers */
    background: -moz-linear-gradient(top, #eee 1%, #e3e3e3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#eee), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eee 1%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eee 1%,#e3e3e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eee 1%,#e3e3e3 100%); /* IE10+ */
    background: linear-gradient(to bottom, #eee 1%,#e3e3e3 100%); /* W3C */
}

#box input {
    float: right;
    border: none;
    background-color: transparent;
    color: #757575;
    font-family: Arial,Helvetica,sans-serif;
    text-indent: 0;
    font-weight: normal;
    display: inline-block;
    font-size: 15px;
    width: 80%;
    padding: 0;
    border: 0;
}

/* Div PopUp para Gráfico de comportamento de ações */
#chartdiv_pop_up { 
    display:none; /* Hide the DIV */
    position:fixed;
    _position:absolute; /* hack for internet explorer 6 */
    height:300px;
    width:495px;
    background:#FFFFFF;
	z-index:100;
    /* left: 45%;
    top: 45%;
    margin-left: 5%; */
    
    /* additional features, can be omitted */
    border:2px solid #6fa5e2;      
    padding:15px;  
    font-size:15px;  
    -moz-box-shadow: 0 0 5px #6fa5e2;
    -webkit-box-shadow: 0 0 5px #6fa5e2;
    box-shadow: 0 0 5px #6fa5e2;   
}

#chartdiv_pop_up_close {
    font-size:20px;  
    line-height:15px;  
    right:5px;  
    top:5px;  
    position:absolute;  
    color:#6fa5e2;  
    font-weight:500;
    cursor: pointer;
}
/* */

#divUser {
    float: left;
    background-image: url('../images/user-icon.png');
    height: 14px;
    width: 14px;
    margin: 6.5% 0 0 7%;
}

#txtUsernameLogin {
    margin: 3% 2% 2% 0;
    height: 35%;
}

#divPass {
    float: left;
    background-image: url('../images/pass-icon.png');
    height: 17px;
    width: 15px;
    margin: 6% 0 0 7%;
}

#txtPasswordLogin {
    margin: 2% 2% 2% 0;
    height: 35%;
}

#box hr {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
    height: 2px;
    background-image: url('../images/hr.jpg');
}

#erro-tri {
    float: left;
    margin-top: 7px;
    width: 0;
    margin-left: 139px;
    height: 0;
    border-style: solid;
    border-width: 0 6px 9px 6px;
    border-color: transparent transparent #e52727 transparent;
    line-height: 0;
}

.error {
    width: auto;
    height: auto;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: #e52727;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    text-indent: 0;
    font-weight: normal;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    padding-left: 2%;
    padding-right: 2%;
}

.button, .register {
    font-family: Arial,Helvetica,sans-serif;
    text-indent: 0;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    width: 289px;
    text-decoration: none;
    text-align: center;
    line-height: 48px;
    height: 48px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    padding: 0;
    border: none;
}

#btnLogin {
    background-color: #1b1b1b;
}

#btnLogin:hover {
    background-color: #0b0b0b;
}

#btnRegister {
    background-color: #003150;
}

#btnRegister:hover {
    background-color: #001623;
}

#footer {
    background-color: #1b1b1b;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#footer p {
    color: #fff;
}
/* Fim da página inicial */

/* Site */
header {
    float: left;
    width: 100%;
}

.content {
    float: left;
    overflow: hidden;
    margin-left: 2%;
    position: absolute;
    width: 98%;
}

#conteudo {
    float: left;
    width: 100%;
}

#var_content {
    float: left;
    width: 90%;
    min-height: 420px;
    margin: 2% 0 0 3%;
    background-color: #fff;
    padding: 2% 2% 6% 2%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 87.5%;
    line-height: 1.5em;
}

/* Header 1 */
#header_1 {
    float: left;
    margin: 0;
    background-color: #283c48;
    height: 40px;
    width: 100%;
}

#logo_simemp {
    margin-top: 1.5%;
}

.panel {
    margin-top: 1.5%;
    margin-right: 20px;
    margin-left: 30px;
    font-size: 20pt;
    cursor: pointer;
    color: #fff;
}

.panel a {
    text-decoration: none;
    color: #fff;
}

#panel_home {
    float: left;
}

#panel_logout {
    float: right;
}
/* Fim da header 1 */

/* Header 2 */
#header_2 {
    float: left;
    background-color: #2b6db9;
    height: 70%;
    width: 100%;
    padding-bottom: 1%;
}

.logo_banco img {
    margin-top: 6%;
    margin-left: 9%;
    width: 80%;
    max-width: 100%;
}

.dados_conta {
    float: left;
    margin-top: 1%;
    margin-right: 1%;
    font-family: "helvetica-light";
    color: #77a4d7;
    width: 100%;
    line-height: 0;
    font-size: 1.2em;
}

.inputDadosTrans {
    border: none;
    font-family: "helvetica-light";
    font-size: 100%;
    background-color: transparent;
    color: #77a4d7;
    text-align: right;
}
/* Fim da header 2 */

/* Página inicial utilizador */
#pag_raw {
    float: left;
    width: 95%;
    margin: 2% 0 0 3%;
    padding: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 87.5%;
    line-height: 1.5em;
}

#div_esq_cal {
    float: left;
    width: 70%;
    height: 450px;
}

#div_dir_cal {
    float: left;
    width: 30%;
    height: 450px;
}

#div_fundo_cal {
    float: left;
    width: 100%;
    height: 90px;
}

#calend_in {
    float: left;
    width: 98%;
    height: 440px;
    background-color: #fff;
}

#calend_inner {
    margin: 0 auto;
    width: 64%;
}

#calendario_inicial {
    margin-top: 10px;
    font-size: 12px;
}

#top_div {
    float: left;
    width: 100%;
    height: 150px;
}

#center_div {
    float: left;
    width: 100%;
    height: 150px;
}

#bottom_div {
    float: left;
    width: 100%;
    height: 150px;
}

#dados_emp {
    float: left;
    width: 96%;
    background-color: #fff;
    padding: 2%;
}

#divDadosEmpresa {
    float: left;
    width: 98%;
    height: 440px;
    background-color: #fff;
}

#dados_emp_inner {
    margin: 0 auto;
    width: 85%;
}

#dados_mails {
    float: left;
    width: 98%;
    background-color: #fff;
    padding-top: 2%;
    padding-left: 2%;
}

#div_in_esq {
    float: left;
    width: 49%;
    height: 140px;
    background-color: #fff;
    margin-right: 2%;
    text-align: center;
}

#div_in_esq img {
    vertical-align: middle;
}

.apoio {
    width: 90%;
    height: 90px;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
}

.apoio img {
    vertical-align: middle;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#div_in_dir {
    float: left;
    width: 49%;
    height: 140px;
    background-color: #fff;
    text-align: center;
}

#div_in_dir img {
    vertical-align: middle;
}

#div_patrocinios {
    float: left;
    width: 100%;
    height: 90px;
    background-color: #fff;
}

.fc-header-title h2 {
    font-size: 1.4em;
    white-space: normal !important;
}

.fc-view-month .fc-event, .fc-view-agendaWeek .fc-event {
    font-size: .85em;
    line-height: 1.4em;
    padding-left: 3px;
    overflow: hidden;
    height: 15px;
}

.fc-event .fc-event-inner {
    overflow: hidden;
    height: 15px;
    line-height: 2em;
}

/*.fc-event-title { //Colocar isto no fullcalendar.css
    padding: 0 3px;
}*/

/* Fim p�gina inicial utilizador */

.labelEsp {
    float: left;
    vertical-align: top;
    color: #77a4d7;
    font-size: 14pt;
    height: 30px;
    margin-right: 5px;
}

.labelNormal {
    float: left;
    color: #000;
    height: 30px;
    margin-right: 5px;
    line-height: 2.2em;
}

.labelicon {
    position: relative;
    text-align: center;
    color: #eaedf1;
    font-size: 19px;
    line-height: 1.7;
    display: inline;
    margin: 8px;
    width: 80%;
}

.inputarea_col1 {
    float: left;
    background-color: #eaedf1;
    height: 30px;
    margin-right: 15px;
    width: 190px;
}

.inputarea_col1 input[type=text], .inputarea_col1 input[type=password] {
    /*margin-top: 0.5%;*/
    /*padding-left: 2%;*/
    padding: 0 0 0 2%;
    width: 98%;
    /*height: 80%;*/
    height: 100%;
    background-color: transparent;
    font-family: 'helvetica-light';
    border: none;
}

.inputarea_38 {
    float: left;
    background-color: #eaedf1;
    height: 38px;
    margin-right: 15px;
    width: 190px;
}

.inputarea_38 input {
    padding-left: 2%;
}

.inputarea_assunto {
    float: left;
    background-color: #eaedf1;
    width: 380px;
    height: 30px;
    margin-right: 15px;
}

.inputarea_assunto input {
    float: left;
    margin-left: 1.5%;
    width: 98%;
    background-color: transparent;
    font-family: 'helvetica-light';
    border: none;
    font-size: 100%;
    line-height: 2em;
}

.inputarea_conta {
    float: left;
    background-color: #eaedf1;
    height: 30px;
    margin: 0 5px 0 0;
    padding: 0;
    width: 190px;
}

.inputarea_conta input[type=text] {
    float: left;
    margin: 0;
    padding: 0 0 0 2%;
    width: 98%;
    height: 100%;
    background-color: transparent;
    font-family: 'helvetica-light';
    border: none;
    font-size: 95%;
}

.moneyarea_col1 {
    float: left;
    background-color: #eaedf1;
    height: 30px;
    width: 190px;
    margin: 0;
    padding: 0;
    text-align: left;
}

.moneyarea_col1 input {
    width: 86.5%;
    border: none;
    background-color: transparent;
    color: #757575;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: right;
}

.mnyLabel {
    float: right;
    font-family: arial;
    border: none;
    background-color: #2b6db9;
    color: #fff;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 20px;
}

.mnyLabel input {
    font-family: arial;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
}

.esq12 {
    float: left;
    width: 12%;
    height: 30px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.esq15 {
    float: left;
    width: 15%;
    height: 30px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.esq20 {
    float: left;
    width: 20%;
    height: 30px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.esq30 {
    float: left;
    width: 30%;
    height: 30px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.esq40 {
    float: left;
    width: 40%;
    height: 30px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.esq50 {
    float: left;
    width: 50%;
    height: 30px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.esq60 {
    float: left;
    width: 60%;
    height: 30px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.dir40 {
    float: left;
    width: 40%;
    height: 30px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.dir50 {
    float: left;
    width: 50%;
    height: 30px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.dir60 {
    float: left;
    width: 60%;
    height: 30px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.dir65 {
    float: left;
    width: 65%;
    height: 30px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.dir70 {
    float: left;
    width: 70%;
    height: 30px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.dir80 {
    float: left;
    width: 80%;
    height: 30px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.dir85 {
    float: left;
    width: 85%;
    height: 30px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.dir88 {
    float: left;
    width: 88%;
    height: 30px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.btn {
    float: left;
    /*border: none;*/
    /*cursor: pointer;*/
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    background: #77a4d7;
    color: #eaedf1;
    padding: 10px 25px 10px 65px;
    margin: 0 2px 0 2px;
}

.btn:before {
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    top: 0;
    color: #77a4d7;
    font-weight: normal;
    background: #2b6db9;
    line-height: 2.2;
    font-size: 120%;
    width: 25%;
    height: 100%;
}

.btn:hover {
    background: #508bce;
}

.btn:active {
    background: #77a4d7;
    top: 2px;
}

.btn:active:before {
    background: #2b6db9;
}

.btn:hover:before {
    background: #15539a;
}

#calendario {
    margin: 0 auto;
    width: 100%;
}

.tdInput input {
    width: 95%;
    text-align: center;
    margin: 0 auto;
    background-color: transparent;
    border: 1px solid #236688;
    border-radius: 7px;
    font-size: 9pt;
}

.tdInput input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

#divTotalEncomenda {
    float: left;
    width: 230px;
    padding-top: 1px;
    font-weight: bold;
    margin-right: 3%;
}

#divTotalEncomenda input {
    float: left;
    width: 95%;
    height: 30px;
    margin: 1% 0;
    border: none;
    background-color: #e9ecf1;
    color: #6595C6;
    padding: 0 0 0 5%;
}

#divTotalEncomenda .tot {
    background-color: #ccd8e8;
}

.loading {
    margin: 0 auto;
    display: table;
}

.loading p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 87.5%;
    text-align: center;
}

.styled-select select {
    color: #757575;
    background: transparent;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0.3em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

.styled-select select option {
    background-color: #eaedf1;
}

.styled-select {
    width: 100%;
    height: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 12px;
    overflow: hidden;
    background-image: url(../images/new_arrow.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: right center;
}

.styled-select select::-ms-expand {
    display: none;
}

.editableText {
    cursor: text;
}

.dynamicInput {
    text-align: center;
    margin: 0 auto;
    background-color: transparent;
    border: none;
    border: 1px solid #cccccc;
    border-radius: 7px;
}

.dynamicInput:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.btnNoIco {
    float: left;
    border: none;
    cursor: pointer;
    height: 38px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    background: #77a4d7;
    color: #eaedf1;
    padding: 10px 25px;
    margin: 0 2px 0 2px;
}

.btnNoIco:hover {
    background: #508bce;
}

.btnNoIco:active {
    background: #77a4d7;
    top: 2px;
}

.btnNoIcoActive {
    float: left;
    border: none;
    cursor: pointer;
    height: 38px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    background: #2d6cb9;
    color: #eaedf1;
    padding: 10px 25px;
    margin: 0 2px 0 2px;
}

.btnNoIcoActive:hover {
    background: #508bce;
}

.btnNoIcoActive:active {
    background: #77a4d7;
    top: 2px;
}

.botaoG {
    float: left;
    font-size: 20px;
    border: none;
    position: relative;
    line-height: 1em;
    color: #eaedf1;
    cursor: pointer;
    background: #77a4d7;
    padding: 9px;
    margin: 0 2px 0 2px;
}

.botaoG:hover {
    background: #508bce;
}

.botaoG:active {
    background: #77a4d7;
    top: 2px;
}

.body-link {
    font-weight: 700;
    color: #798B8D;
    text-decoration: none;
    list-style: none;
    margin: 8px 0;
    font-size: 11px;
    text-transform: none;
    cursor: pointer;
}

.botaoAnexo {
    color: #77a4d7;
    font-size: 20px;
    border: none;
    position: relative;
    line-height: 1em;
    padding: 9px;
    margin: 0 2px 0 2px;
}

.tab_emails {
    width: 100%;
    color: #77a4d7;
    font-size: 11pt;
    font-weight: bold;
}

.tab_emails td {
    padding: 10px;
    text-align: left;
}

.tab_emails .lida {
    background-color: #ccd8e8;
}

.tab_emails .nova {
    background-color: #eaedf1;
}

.tab_emails .selecionada {
    background-color: #9bb8e0;
}

.ler {
    cursor: pointer;
}

.tab_emails .noMsg {
    width: 25%;
    display: block;
}

.tab_emails .chkTD {
    text-align: center;
}

.btn-3 {
    background: #77a4d7;
    color: #eaedf1;
    font-family: Arial,Helvetica,sans-serif;
}

.btn-3:hover {
    background: #508bce;
}

.btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}

.btn-3:active {
    background: #77a4d7;
    top: 2px;
}

.btn-3a {
    padding: 13px 25px 12px 57px;
}

.btn-3a:active:before {
    background: #2b6db9;
}

.btn-3a:before {
    background: #2b6db9;
    line-height: 2.3;
    font-size: 120%;
    width: 42px;
}
.btn-3a:hover:before {
    background: #15539a;
}

.voltarDir {
    float: right;
    margin-right: 5%;
}

.caixaTextoNormal {
    background-color: #f9f9f9;
    border: 1px #77a4d7 solid;
    resize: none;
    width: 95%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    cursor: default;
}

.caixaTextoPeq {
    background-color: #eaedf1;
    border: none;
    resize: none;
    width: 25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    cursor: default;
}

.caixaTextoPeqEd {
    cursor: text;
}

.inputNoBackground {
    color: #77a4d7;
    font-size: 14pt;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 98%;
    border: none;
    cursor: default;
    background-color: transparent;
}

.inputData {
    float: left;
    height: 30px;
    background-color: #eaedf1;
    margin: 0 0 0 3%;
    padding: 0;
    width: 160px;
}

.inputData input[type=text] {
    height: 99%;
    width: 60.5%;
    border: none;
    background-color: transparent;
    margin: 0 0 0 4%;
    padding: 0 0 0 2%;
    color: #77a4d7;
}

.inputData label {
    float: left;
    padding-left: 2%;
    margin: 0;
    height: 100%;
    width: 10%;
    font: normal normal 12px/30px Arial, Helvetica, sans-serif;
    color: #2b6db9;
}

.inputData div {
    float: right;
    height: 100%;
    width: 18%;
    margin: 0;
    padding: 0;
    background-color: #77a4d7;
    color: #eaedf1;
    font-size: 15pt;
    text-align: center;
    line-height: 1.5;
}

.botaoLupa {
    float: left;
    height: 30px;
    margin: 0 0 0 3%;
    padding: 0;
    width: 30px;
    cursor: pointer;
}

.botaoLupa div {
    float: left;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #77a4d7;
    color: #eaedf1;
    font-size: 14pt;
    text-align: center;
    line-height: 1.6;
}

.botaoPrint {
    float: left;
    height: 30px;
    width: 30px;
    margin: 0 0 0 3%;
    padding: 0;
    cursor: pointer;
}

.botaoPrint div {
    float: left;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #77a4d7;
    color: #eaedf1;
    font-size: 18pt;
    text-align: center;
    line-height: 1.3;
}

.botaoExcel {
    float: left;
    height: 30px;
    width: 30px;
    margin: 0 0 0 3%;
    padding: 0;
    cursor: pointer;
}

.botaoExcel div {
    float: left;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #eaedf1;
    font-size: 18pt;
    text-align: center;
    line-height: 1.3;
}

.botaoMovPrint {
    float: left;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.icon-printer img {
    width: 30px;
    height: 30px;
}

/* Página de compras */

#divEstruturaPag {
    float: left;
    width: 95%;
    margin: 3% 0 0 3%;
    padding: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 87.5%;
    line-height: 1.5em;
}

#divPagProdutosEsq {
    float: left;
    width: 65%;
    padding: 2% 1%;
    background-color: #fff;
    min-height: 450px;
}

#divPagProdutosDir {
    float: left;
    margin-left: 2%;
    width: 30%;
    padding-bottom: 2%;
}

#divPagEncomenda {
    float: left;
    width: 98%;
    padding: 2% 1%;
    background-color: #fff;
    min-height: 450px;
}

.barPesqGr {
    float: left;
    background-color: #fff;
    width: 100%;
    margin-bottom: 4%;
}

.barPesqGr input {
    float: left;
    height: 50px;
    width: 80.8%;
    border: none;
    margin: 0;
    padding: 0 0 0 5px;
    line-height: 2em;
    font-size: 18px;
}

.barPesqGr label {
    float: right;
    font-size: 30px;
    border: none;
    position: relative;
    line-height: 1em;
    color: #eaedf1;
    background: #77a4d7;
    padding: 10px;
}

#divCatProd {
    float: left;
    width: 96%;
    background-color: #fff;
    padding: 2%;
    margin-bottom: 4%;
}

#divCatProd label {
    float:left;
    color: #5f94d6;
    width: 100%;
    font-size: 11pt;
    line-height: 1.5em;
}

#divCarrinho {
    float: left;
    width: 96%;
    background-color: #fff;
    padding: 2%;
}

#divCarrinho label {
    float:left;
    color: #5f94d6;
    width: 100%;
    font-size: 11pt;
    line-height: 1.5em;
}

#divSctPagination {
    float: left;
    width: 20%;
    background-color: #eaedf1;
    margin-right: 3%;
}

.pagination {
    float: left;
}

.pagination input {
    float: left;
    border: none;
    text-align: center;
    height: 25px;
    outline: none;
    vertical-align: middle;
    width: 120px;
    padding: 0;
    color: #2b6db9;
    background-color: #eaedf1;
    margin-left: 1px;
}

.pagination div {
    display: block;
    float: left;
    height: 25px;
    width: 25px;
    background-color: #eaedf1;
    color: #2b6db9;
    text-align: center;
    text-decoration: none;
    font-family: Times, 'Times New Roman', Georgia, Palatino; /* ATTN: need a better font stack */
    font-weight: bold;
    font-size: 16px;
    outline: none;
    vertical-align: middle;
    margin-left: 1px;
    cursor: pointer;
}

.pagination div:hover, .pagination a:focus, .pagination a:active {
    background-color: #77a4d7;
}

.form_esq25 {
    float: left;
    width: 25%;
}

.form_esq30 {
    float: left;
    width: 30%;
}

.form_esq35 {
    float: left;
    width: 35%;
}

.form_esq40 {
    float: left;
    width: 40%;
}

.form_esq45 {
    float: left;
    width: 45%;
}

.form_esq48 {
    float: left;
    width: 48%;
}

.form_esq50 {
    float: left;
    width: 50%;
}

.form_esq55 {
    float: left;
    width: 50%;
}

.form_esq60 {
    float: left;
    width: 60%;
}

.form_esq65 {
    float: left;
    width: 65%;
}

.form_esq70 {
    float: left;
    width: 70%;
}

.form_esq75 {
    float: left;
    width: 75%;
}

.form_esq80 {
    float: left;
    width: 80%;
}

.form_esq85 {
    float: left;
    width: 85%;
}

.form_esq90 {
    float: left;
    width: 90%;
}

.form_esq100 {
    float: left;
    width: 100%;
}

.onoffswitch {
    position: relative;
    width: 67px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #5F94D6;
    border-radius: 6px;
}

.onoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left;
    width: 50%;
    height: 25px;
    padding: 0;
    line-height: 25px;
    color: white;
    font-family: 'icomoon';
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "\e031";
    font-size: 16px;
    padding-left: 9px;
    background-color: #5F94D6;
    color: #2B6DB9;
}

.onoffswitch-inner:after {
    font-size: 13px;
    content: "\e030";
    padding-right: 9px;
    background-color: #5F94D6;
    color: #2B6DB9;
    text-align: right;
}

.onoffswitch-switch {
    width: 23px;
    margin: 1px;
    background: #FFFFFF;
    border: 2px solid #5F94D6;
    border-radius: 6px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 38px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
}

.minilogo {
    float: left;
    width: 17%;
    height: 100px;
    text-align: center
}

.minilogo a {
    line-height: 55px
}

.minilogo img {
    width: 96%;
    height: auto;
    vertical-align: middle
}

.iconwrapper {
    float: left;
    height: 36px;
    width: 36px;
    margin-right: 0.5%;
    display: table;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
    background: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-clip: padding-box;
    box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
}

.novolabelicon {
    text-align: center;
    color: #999;
    font-size: 19px;
    display: table-cell;
    vertical-align: middle;
}

/* Ícones */
.icon-edit:before {
    content: '\e00a';
}
.icon-off:before {
    content: "\e601";
}

.icon-carrinho:before {
    content: "\e010";
}

.icon-arr-up:before {
    content: "\f04c";
}

.icon-arr-down:before {
    content: "\f04b";
}

.icon-mny:before {
    content: '\e600';
}

.icon-home:before {
    content: '\e00a';
}

.icon-ok:before {
    content: "\e031";
}

.icon-voltar:before {
    content: '\e03a';
}

.icon-garbage:before {
    content: '\e027';
}

.icon-file:before {
    content: "\e602";
}

.icon-user:before {
    content: "\e016";
}

.icon-clock:before {
    content: "\e012";
}

.icon-sair:before {
    content: "\e009";
}

.icon-clean:before {
    content: '\e030';
}

.icon-pass:before {
    content: "\e002";
}

.icon-envelope:before {
    content: "\e006";
}

.icon-anexo:before {
    content: '\e02a';
}

.icon-cal:before {
    content: '\e604';
}

.icon-lupa:before {
    content: '\e603';
}

.icon-info:before {
    content: '\e02b';
}

.icon-group:before {
    content: '\e017';
}


/* Fim dos Ícones */


/*@media only screen and (max-width: 480px) {
    #logo_banco img {
        width: 80%;
    }

    #linguas {
        white-space: nowrap;
        width: 40%;
        float: left;
        text-align: center;
    }

    #linguas a img {
        margin: 5% 5% 2% 5%;
        width: 50px;
        height: 30px;
    }

    #logout {
        margin: 2% 3% 0 0;
        float: right;
    }

    #metaNav {
        margin: 9% 4% 1% 0;
        font-size: 13px;
        float: right;
    }

    nav#menu {
        font-size: 90%;
        position: relative;
        min-height: 40px;
    }

    nav#menu ul {
        list-style: none;
        width: 180px;
        padding: 5px 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    nav#menu ul li {
        display: none;  hide all <li> items
        margin: 0;
    }
}*/

/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
     iPad queries aqui
     Mais dispositivos aqui: http://www.binvisions.com/articles/tablet-smartphone-resolutions-screen-size-list/
}*/

/* Video */
section>.row{display:table-row}
section>.row>.cell{display:table-cell}
.blind {position:absolute;z-index:9999;top:0;left:0;width:100%;height:100%;background-color:#000000}
.main-content{display:inline-block;width:97.9166667%;padding:0.9%}
.middle-cell{vertical-align:middle}
.middle-row{height:100%}
.player {width: 20px;height: 20px;vertical-align: middle}
.tblCell {display:table-cell;text-align: center;width: 50%;vertical-align: top}
.tblCell a {text-decoration: none;color:#fff;font-weight: bold;letter-spacing: 2px;color: #2b6db9;font-weight: bold;clear: both;display: inline-block;overflow: hidden;white-space: nowrap}
.tblCell i {font-size: 8pt;}
.tblVideo {/*display:none;*/display: table;width: 80%;max-width: 120px;margin: 0 auto; height: 25px}
.window {position:absolute;z-index:10000;width:80%;max-width: 768px;left:-1000px;top:-1000px}
video {width: 100%;height: auto}
.close {background: #606061;color: #FFFFFF;line-height: 25px;position: absolute;right: -12px;text-align: center;top: -10px;width: 24px;text-decoration: none;font-weight: bold;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px;-moz-box-shadow: 1px 1px 3px #000;-webkit-box-shadow: 1px 1px 3px #000;box-shadow: 1px 1px 3px #000}
.close:hover {background: #1485cc}
/* */